@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Futura PT", sans-serif;
  }

  .scroller::-webkit-scrollbar {
    display: none;
  }

  .scroller {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
